.sidebar{
    left: 0;
    width: 250px;
    height: 100%;
    background: #fafafad3;
}

body{
    background: #fafafad3;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 35px;
    padding-left: 15px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a{
    padding-left: 30px;
}

.active {
    background-color: rgb(206, 206, 206);
}

thead{
    background-color: #fafafad3;
    color: black;
    border-bottom: solid 5px black;
}

tr:hover td{
    background-color: rgb(206, 206, 206);
    color: black;
}

.diseñoNavbar{
    background-color: rgb(24, 23, 23);
}

.dieñoBody{
    background-color: #fafafad3;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff; 
}
