:root {
    --main-bg-color: #f7f7f7d3;
    --main-text-color: black;
    --main-type-text: Arial, Helvetica, sans-serif;
    --second-bg-color: #dadadad3;
    --second-text-color: #1d7edf;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/*COMIENZA SIDEBAR*/

#sidebar {
    min-width: 250px;
    max-width: 250px;
    border-right: 1px solid rgb(219, 219, 219);
    background-color: transparent;
    color: var(--main-text-color);
    transition: all .4s;
}

.sidebar-header {
    padding: 1.2rem 0;
    font: 1.4rem bold var(--main-type-text);
    text-align: center;
    cursor: default;
}

#sidebar ul li {
    height: 100%;
    width: 80%;
    display: inline-block;
    margin-left: 1.5rem;
    font: .960rem bold var(--main-type-text);
    line-height: 2.8rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(189, 189, 189);
}

#sidebar li a {
    color: var(--main-text-color);
    font-weight: bold;
    text-decoration: none;
}

#sidebar li a:hover {
    padding-left: 1.3rem;
    color: var(--second-text-color);
    transition: all .9s;
}

.active {
    padding-left: 1.3rem;
    color: var(--second-text-color) !important;
    text-decoration: none;
}

#btn-logout {
    border: 0;
    margin: 1rem 0;
    background-color: transparent;
    color: rgba(255, 0, 0, 0.795);
    font: 1.1rem bold;
}

#btn-logout:hover {
    color: var(--second-text-color);
    transition: .5s;
}

/*FINALIZA SIDEBAR*/

/*COMIENZA NAVBAR*/

#content {
    width: 100%;
    min-height: 100vh;
    transition: all .5s;
}

.navbar {
    padding: .55rem;
    border: none;
    border-radius: 0;
    margin-bottom: 1.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/*FINALIZA NAVBAR*/

/*INDEX*/
#ribbon{
    background-color: #1d7edf;

}

#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}

#slide{
    background-color: var(--main-bg-color);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px black;
}

.separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out .2s;
}

.card-border:hover{
    transform: scale(1);
}

/*EMPIEZA DASHBOARD*/

.card-footer {
    border: 0;
    margin-top: 1rem;
    text-align: center;
    background-color: transparent;
}

.card-footer a {
    color: var(--second-text-color);
    font: 1.4rem bolder var(--main-type-text);
}

.card-footer a:hover {
    text-decoration: none;
    transition: .9s;
}

.space {
    margin: 0 1.5rem;
}

#designNavbar {
    padding: .750rem 0;
    color: var(--main-text-color);
    background-color: var(--second-bg-color);
}

@media(max-width:768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .navbar {
        padding: .60rem;
    }
}

@media screen and (max-width: 990px) {
    .navbar {
        padding: 1.050rem;
    }
}
