:root {
    --main-bg-color: #f7f7f7d3;
    --main-text-color: black;
    --main-type-text: Arial, Helvetica, sans-serif;
    --second-bg-color: #dadadad3;
    --second-text-color: #1d7edf;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/*COMIENZA SIDEBAR*/

#sidebar {
    min-width: 250px;
    max-width: 250px;
    border-right: 1px solid rgb(219, 219, 219);
    background-color: transparent;
    color: var(--main-text-color);
    transition: all .4s;
}

.sidebar-header {
    padding: 1.2rem 0;
    font: 1.4rem bold var(--main-type-text);
    text-align: center;
    cursor: default;
}

#sidebar ul li {
    height: 100%;
    width: 80%;
    display: inline-block;
    margin-left: 1.5rem;
    font: .960rem bold var(--main-type-text);
    line-height: 2.8rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(189, 189, 189);
}

#sidebar li a {
    color: var(--main-text-color);
    font-weight: bold;
    text-decoration: none;
}

#sidebar li a:hover {
    padding-left: 1.3rem;
    color: var(--second-text-color);
    transition: all .9s;
}

.active {
    padding-left: 1.3rem;
    color: var(--second-text-color) !important;
    text-decoration: none;
}

#btn-logout{
    border: 0;
    margin: 0 0 .5rem .5rem;
    background-color: transparent;
    color: rgba(255, 0, 0, 0.795);
}

#btn-logout:hover {
    color: var(--second-text-color);
    transition: .5s;
}

/*FINALIZA SIDEBAR*/

/*COMIENZA NAVBAR*/

#content {
    width: 100%;
    min-height: 100vh;
    transition: all .5s;
}

.navbar {
    padding: .55rem;
    border: none;
    border-radius: 0;
    margin-bottom: 1.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#menu-user{
    padding: .5rem 6rem .5rem 1rem;
}

#user{
    font-size: 1.4rem;
    color: white;
    background-color: var(--main-text-color);
    padding: .5rem .5rem 0 .5rem;
    border-radius: 2.5rem;
}
/*FINALIZA NAVBAR*/

/*INDEX*/
#ribbon{
    background-color: #1d7edf;

}

#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}

#slide{
    background-color: var(--main-bg-color);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px black;
}

.separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out .2s;
}

.card-border:hover{
    transform: scale(1);
}

/*EMPIEZA DASHBOARD*/

/* .card-footer {
    border: 0;
    margin-top: 1rem;
    text-align: center;
    background-color: transparent;
}

.card-footer a {
    color: var(--second-text-color);
    font: 1.4rem bolder var(--main-type-text);
}

.card-footer a:hover {
    text-decoration: none;
    transition: .9s;
}

#designNavbar {
    padding: .750rem 0;
    color: var(--main-text-color);
    background-color: var(--second-bg-color);
}
} */

.space {
    margin: 0 1.5rem;
}

.contenedor
{
    max-width: 950px;
    width: 100%;
    overflow: hidden;
}

.contenedor .main-card
{
    width: 200%;
    display: flex;
    justify-content: space-evenly;
    transition: all 1s ease;
}

#dos:checked ~ .main-card
{
    margin-left: -100%;
}

.main-card .cards
{
    width: calc(100% / 2 - 10px);
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.main-card .cards .card
{
    width: calc(100% / 3 - 10px);
    background: #fff;
    padding: 30px;
    border-radius: 24px;
}

.cards .card .content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.cards .card .content .icono
{
    height: 130px;
    width: 130px;
    margin-bottom: 14px;
}

.cards .card .content .icono i
{
    font-size: 130px;
    -o-object-fit: cover;
       object-fit: cover;
    background: transparent;
}

.card .content .details .name
{
    font-size: 20px;
    font-weight: 500;
}

.card .content .details .descripcionC
{
    font-size: 20px;
    color: rgb(24, 24, 24);
}

.card .content .buttonsCards
{
    display: flex;
    margin-top: 10px;
}

.card .content .buttonsCards .linksCards
{
    height: 35px;
    width: 35px;
    color: #fff;
    background: rgb(24, 24, 24);
    margin: 0 4px;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.content .buttonsCards .linksCards:hover
{
    border-color: #1b1b1b;
    color: #1b1b1b;
    background: #fff;
}

.botonDash
{
    display: flex;
    margin: 20px;
    justify-content: center;
}

.botonDash label
{
    height: 15px;
    width: 15px;
    background: black;
    margin: 0 4px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.botonDash label.activo
{
    width: 35px;
}

#uno:checked ~ .botonDash label.uno
{
    width: 35px;
}

#dos:checked ~ .botonDash label.dos
{
    width: 35px;
}

#dos:checked ~ .botonDash label.uno
{
    width: 15px;
}

#uno:checked ~ .botonDash label.dos
{
    width: 15px;
}

input[type="radio"]
{
    display: none;
}


/*FIN DISEÑO INDEX Y DASHBOARD*/

/* Diseño de buscador  */
.box
{
    max-width: 400px;
    width: 100%;
}

.box .search-box
{
    position: relative;
    height: 50px;
    max-width: 50px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transition: all 0.3s ease;
}

#check:checked ~ .search-box
{
    max-width: 380px;
}

.search-box input
{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}

.search-box .icon
{
    position: absolute;
    right: -2px;
    top: 0;
    width: 50px;
    background: rgb(24, 24, 24);
    color: whitesmoke;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 25px;
}

#check:checked ~ .search-box .icon
{
    background: rgb(199, 198, 198);
    color: black;
    width: 60px;
    border-radius: 0 25px 25px 0;
}

#check
{
    display: none;
}

/*FIN DISEÑO BUSCADOR*/


@media(max-width:768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .navbar {
        padding: .60rem;
    }
}

@media screen and (max-width: 990px) {
    .navbar {
        padding: 1.050rem;
    }
}
