:root{
    --main-bg-color: #f7f7f7d3;
    --main-text-color: black;
    --second-bg-color: #dadadad3;
    --second-text-color: #1d7edf;
}

.sidebar{
    left: 0;
    width: 20%;
    height: 100%;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.sidebar ul a{
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 2.2rem;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

ul li:hover{
    padding-left: 1rem;
    transition: all .9s;
}

li a:hover{
    font-weight: bold;
    color: var(--second-text-color) !important;
}

.active {
    font-weight: bold;
    margin-left: 1rem;
    color: var(--second-text-color) !important;
    border-bottom: 1px solid var(--second-text-color) !important;
}

#designNavbar{
    padding: .750rem 0;
    color: var(--main-text-color);
    background-color: var(--second-bg-color);
}